<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
</head>

<body ng-app="ex62">

    <div ng-controller="ex">
        <label>informe seu salario </label>
        <input type="number" name="valor1" ng-model="valor1">
        <br>
        <br>

        <label>informe o valor do finaciamento.</label>
        <input type="number" name="valor2" ng-model="valor2">
        <br>
        <br>
 
        {{ saida(valor1, valor2, op) }} 

    </div>

</body>

</html>
<script>


    var app = angular.module("ex62", [])
    app.controller("ex", function ($scope) {
        $scope.saida = function (valor1, valor2, op) {
            if (valor2 <= valor1 * 5) {
                return "seu financiamento foi concedido. Obrigado por nos consultar.";
            }else{
                return "seu financiamento foi negado. Obrigado por nos consultar.";
            }

        }
    })

</script>