<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
</head>

<body ng-app="ex62">

    <div ng-controller="ex">
        <label>informe um valor </label>
        <input type="number" name="valor1" ng-model="valor1">
        <br><br>
        <label>informe um valor </label>
        <input type="number" name="valor1" ng-model="valor1">
        <br><br>
        <label>informe um valor </label>
        <input type="number" name="valor1" ng-model="valor1">
        <br><br>
        <label>informe um valor </label>
        <input type="number" name="valor1" ng-model="valor1">
        <br><br>
        <label>informe um valor </label>
        <input type="number" name="valor1" ng-model="valor1">
        <br><br>
        <label>informe um valor </label>
        <input type="number" name="valor1" ng-model="valor1">
        <br><br>
        <label>informe um valor </label>
        <input type="number" name="valor1" ng-model="valor1">
        <br><br>
        <label>informe um valor </label>
        <input type="number" name="valor1" ng-model="valor1">
        <br><br>
        <label>informe um valor </label>
        <input type="number" name="valor1" ng-model="valor1">
        <br><br>
        <label>informe um valor </label>
        <input type="number" name="valor1" ng-model="valor1">
        <br><br>


 
        {{ saida(valor1) }} 

    </div>

</body>

</html>
<script>


    var app = angular.module("ex62", [])
    app.controller("ex", function ($scope) {
        $scope.saida = function (valor1) {
            if (valor1 <= 0.25) {
                return "indice de poluiçao aceitravel.";
            }
            if(valor1 <= 0.3){
                return "1º grupo são intimadas a suspenderem suas atividades.";
            }
            if(valor1 <= 0.4){
                return "1º e 2º grupo são intimadas a suspenderem suas atividades.";
            }
            if(valor1 <= 0.5){
                return "todos os gupos são intimados a suspenderem suas atividades.";
            }

        }
    })

</script>